<div class="container">
  <div class="sidebar">
      <h3><fa-icon [icon]="faLayerGroup" class="icon"></fa-icon>Sistema gerencial</h3>
      <ul>
          <li>
              <a [routerLink]="['/dashboard']">
                  <fa-icon [icon]="faChartSimple" class="icon"></fa-icon>
                   Dashboard
              </a>
          </li>
          <li>
            <a [routerLink]="['/products']">
              <fa-icon [icon]="faBox" class="icon">
              </fa-icon>
              Produtos
            </a>
          </li>
          <li>
            <a [routerLink]="['/stock-control']">
              <fa-icon [icon]="faDolly" class="icon">
              </fa-icon>
              Controle de Estoque
            </a>
          </li>
          <li>
            <a [routerLink]="['/stock-control']">
              <fa-icon [icon]="faMoneyBill" class="icon">
              </fa-icon>
              Controle de Vendas
            </a>
          </li>
      </ul>
  </div>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>
