<body>
    <div>
        <header class="header">
            <h1>Dashboard</h1>
        </header>
    
    </div>
    <main class="main-content">
        <section class="section">
            <app-info-box 
                [icon]="faUser" 
                [title]="'Informações Importantes'" 
                [quantity]="42">
            </app-info-box>
            <app-info-box 
                [icon]="faUser" 
                [title]="'Informações Importantes'" 
                [quantity]="42">
            </app-info-box>
        </section>
        <section class="section">
            <h2>Gráfico de Desempenho</h2>
            <div class="chart" id="chart1"></div>
        </section>
        <section class="section">
            <h2>Estatísticas</h2>
            <p>Conteúdo das estatísticas.</p>
        </section>
        <section class="section">
            <h2>Relatórios Recentes</h2>
            <p>Conteúdo dos relatórios recentes.</p>
        </section>
    </main>
</body>